<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481334859105-0dvts2halp31lgpq2iuudrki91dqqu8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481334859105-0dvts2halp31lgpq2iuudrki91dqqu8n</string>
	<key>API_KEY</key>
	<string>AIzaSyC_U88QqpZyJOVHvQsa_Y9jrpN6cocHsU0</string>
	<key>GCM_SENDER_ID</key>
	<string>481334859105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.creditCards</string>
	<key>PROJECT_ID</key>
	<string>creditcards-418ad</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcards-418ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481334859105:ios:1ef27d6d3de0157e5ce120</string>
</dict>
</plist>